In [1]:
import pandas as pd
import mysql.connector
import numpy as np

In [2]:
df_canada = pd.read_pickle('datos/df_canada.pkl')  ###abrimos los df con los datos limpios
df_argentina = pd.read_pickle('datos/df_argentina.pkl')
df_eeuu = pd.read_pickle('datos/df_eeuu.pkl')

In [3]:
class Cargar:
    
    def __init__(self, nombre_bbdd, contraseña):
        # nuestra clase va a recibir dos parámetros, el nombre de la base de datos y la contraseña con el servidor. 
        self.nombre_bbdd = nombre_bbdd
        self.contraseña = contraseña
    
    def crear_bbdd(self):  ###funcion para crear la base de datos en caso que no la tengamos.

        mydb = mysql.connector.connect(host="localhost",
                                       user="root",
                                       password=f'{self.contraseña}') 
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            
        except:
            print("La Base de Datos ya existe")
    
    def crear_insertar_tabla(self, query):
        
        mydb = mysql.connector.connect(host="localhost",
                                       user="root",
                                       password=f'{self.contraseña}', 
                                       database=f"{self.nombre_bbdd}") 
        mycursor = mydb.cursor()
        
        try:
            mycursor.execute(query)
            mydb.commit()
          
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)
    
    def check_provincia(self):
    
        mydb = mysql.connector.connect(user='root',
                                      password=f"{self.contraseña}",
                                      host='127.0.0.1',
                                      database=f"{self.nombre_bbdd}")
        mycursor = mydb.cursor()

        # query para extraer los valores únicos de provincias de la tabla paises
        query_existe_provincia = f"""
                SELECT DISTINCT nombre_provincia FROM paises
                """
        mycursor.execute(query_existe_provincia)
        provincia = mycursor.fetchall()
        return provincia

    def sacar_idestado(self, provincia):
        
        mydb = mysql.connector.connect(user='root',
                                       password= f'{self.contraseña}',
                                       host='127.0.0.1', 
                                       database=f"{self.nombre_bbdd}")
        mycursor = mydb.cursor()
        #### query para sacar los id de la tabla países, que los utilizaremos para crear la otra tabla
        try:
            query_sacar_id = f"SELECT idestado FROM paises WHERE nombre_provincia = '{provincia}'"
            mycursor.execute(query_sacar_id)
            id_ = mycursor.fetchall()[0][0]
            return id_
        
        except: 
            return "Sorry, no tenemos esa provincia en la BBDD y por lo tanto no te podemos dar su id. "

In [4]:
query_tabla_paises = """
                    CREATE TABLE `universidades`.`paises` (
                        `idestado` INT NOT NULL AUTO_INCREMENT,
                        `nombre_pais` VARCHAR(100) NULL,
                        `nombre_provincia` VARCHAR(100) NULL,
                        `latitud` FLOAT NULL,
                        `longitud` FLOAT NULL,
                        PRIMARY KEY (`idestado`));
"""

In [5]:
query_tabla_universidades = """
                            CREATE TABLE `universidades`.`universidades` (
                                `iduniversidades` INT NOT NULL AUTO_INCREMENT,
                                `nombre_universidad` VARCHAR(100) NULL,
                                `pagina_web` VARCHAR(100) NULL,
                                `paises_idestado` INT NULL,
                                PRIMARY KEY (`iduniversidades`),
                                CONSTRAINT `fk_universidades_paises` 
                                        FOREIGN KEY (`paises_idestado`) 
                                        REFERENCES `paises` (`idestado`) 
                                        ON DELETE CASCADE ON UPDATE CASCADE);
"""

In [5]:
carga = Cargar('universidades', 'AlumnaAdalab')

In [6]:
# tabla paises

def tabla_paises(df):
    for indice, fila in df.iterrows():
        
        # creamos la query que nos inserta datos en la tabla paises
        query_paises = f"""
                    INSERT INTO paises (nombre_pais, nombre_provincia, latitud, longitud) 
                    VALUES ( "{fila['country']}", "{fila['provincia']}", "{fila['latitud']}", "{fila['longitud']}");
                    """
        # llamamos a la funcion check_provincia para saber que provincias tenemos en la BBDD
        provincias = carga.check_provincia()
        
        if len(provincias) == 0 or fila["provincia"] not in provincias[0]: 

            carga.crear_insertar_tabla(query_paises)

        else:
            print(f"{fila['provincia']} ya esta en nuestra BBDD")

In [8]:
tabla_paises(df_argentina)

Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD
Buenos Aires ya esta en nuestra BBDD

In [9]:
tabla_paises(df_canada)

In [11]:
tabla_paises(df_eeuu)

In [15]:
# tabla universidades
def tabla_universidades(df): 

    for indice, fila in df.iterrows():

        id_pais = carga.sacar_idestado(fila['provincia'])  
        # creamos la query que nos inserta los datos en la tabla universidades
        query_universidades = f"""
                    INSERT INTO universidades (nombre_universidad, pagina_web, paises_idestado) 
                    VALUES ( "{fila['name']}", "{fila['web_pages']}", "{id_pais}");
                    """
        
        carga.crear_insertar_tabla(query_universidades)

In [16]:
tabla_universidades(df_canada)

In [17]:
tabla_universidades(df_argentina)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'John F. Kennedy"", "http://www.kennedy.edu.ar/", "1")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'John F. Kennedy"", "http://www.kennedy.edu.ar/", "1")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Juan Agustín Maza"", "http://www.umaza.edu.ar/", "17")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Juan Agustín Maza"", "http://www.umaza.edu.ar/", "17")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'General Manuel Belgrano"", "http://www.unlu.edu.ar/Belgrano.htm", "17")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'General Manuel Belgrano"", "http://www.unlu.edu.ar/Belgrano.htm", "17")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'San Juan Bosco"", "http://www.unp.edu.ar/", "17")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'San Juan Bosco"", "http://www.unp.edu.ar/", "17")' at line 2
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Santo Tomás de Aquino"", "http://www.unsta.edu.ar/", "17")' at line 2
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Santo Tomás de Aquino"", "http://www.unsta.edu.ar/", "17")' at line 2

In [18]:
tabla_universidades(df_eeuu)

1366 (HY000): Incorrect string value: '\xE2\x80\x8BDot...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BDot...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHan...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHan...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSel...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSel...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSho...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSho...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BGil...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BGil...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BBee...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BBee...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BNew...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BNew...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BBat...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BBat...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHop...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHop...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMor...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMor...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSac...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSac...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCom...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCom...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BVis...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BVis...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCoa...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCoa...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BOwe...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BOwe...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSta...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSta...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BTer...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BTer...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHer...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHer...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BKen...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BKen...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMal...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMal...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BOli...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BOli...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BRic...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BRic...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BWil...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BWil...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BChi...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BChi...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BChi...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BChi...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BLou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BLou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BEun...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BEun...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BWic...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BWic...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BRam...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BRam...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BBra...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BBra...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BLin...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BLin...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BWes...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BWes...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BPla...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BPla...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCon...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCon...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BRos...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BRos...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BAla...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BAla...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BDon...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BDon...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BNew...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BNew...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BGre...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BGre...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMon...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMon...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BBun...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BBun...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCho...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCho...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCab...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCab...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BBen...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BBen...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BDar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BDar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BGeo...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BGeo...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BCou...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BCou...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMai...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMai...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BOra...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BOra...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BPor...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BPor...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BHar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BMar...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BMar...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BWac...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BWac...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BWes...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BWes...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BSta...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BSta...' for column 'nombre_universidad' at row 1
1366 (HY000): Incorrect string value: '\xE2\x80\x8BTit...' for column 'nombre_universidad' at row 1
Error Code: 1366
SQLSTATE HY000
Message Incorrect string value: '\xE2\x80\x8BTit...' for column 'nombre_universidad' at row 1